In [6]:
import tushare as ts
import pandas as pd

In [7]:
#share_data_all = ts.get_today_all() # 
#share_data_all.head()

In [8]:
# all share data of today,columns name : code name changepercent trade open high low 
#share_data_all
#code_all = share_data_all[['code','name']] 
#code_all.head()
#code_all.to_excel('G:\\test\\allsharecode.xlsx',sheet_name='Sheet1')
##for item in code_all:
    
##    if i < 20 :
##        print(i+1,":",item)
##    i = i + 1

In [9]:
def getCode():
    return ts.get_today_all()[['code','name']]

In [10]:
#ts.get_today_all()

In [11]:
#ts.get_hist_data('600848')

In [12]:
codeNumberAll = getCode()

[Getting data:]#####################################

In [13]:
codeNumberAll.code

0       601998
1       600210
2       601113
3       600283
4       002516
5       300108
6       300110
7       600716
8       002326
9       600405
10      600866
11      002515
12      002381
13      002741
14      300327
15      300076
16      300374
17      300277
18      000573
19      000687
20      300310
21      300184
22      002049
23      300299
24      300083
25      601007
26      603636
27      603997
28      002466
29      002517
         ...
2358    600287
2359    000686
2360    000514
2361    300355
2362    002350
2363    600897
2364    600769
2365    002458
2366    300013
2367    000592
2368    002500
2369    600712
2370    300413
2371    002125
2372    603366
2373    600057
2374    600325
2375    600755
2376    002600
2377    000753
2378    002166
2379    002593
2380    000020
2381    600170
2382    002571
2383    600456
2384    002053
2385    300498
2386    300197
2387    002289
Name: code, dtype: object

In [17]:
#i = 0
hist_data = {}
for item in codeNumberAll.code:
#    print(item)
#    if i < 2:
    hist_data[item] = ts.get_hist_data(item).tail(10)

type(hist_data)

dict

In [15]:
#hist_data['002386']

In [16]:
#取得最近#根日线 return dataframe 
def get_bar_of_number(number,hist_data): 
    return hist_data.tail(number)
for key  in hist_data:
    get_bar_of_number(10,hist_data[key])

NameError: name 'hist_data' is not defined

In [55]:
df_bar_ten = get_bar_of_number(10,hist_data['300352'])

In [57]:
def get_hist_data(codelist,number,startdate='2015-10-08',enddate='2015-11-08'):
    #get the history data of the share which story in the codelist.and return a dict.
    #get #number bars.reacent # bars.
    hist_data = {}
    for item in codelist:
        hist_data[item] = ts.get_hist_data(item,start =startdate,end=enddate).tail(number)
    return hist_data
empty = get_hist_data(['300352'],10)

In [72]:
if empty['300352']['low'].empty:
    print("True")

True

In [52]:
def find_low_index(df):
    return df['low'].idxmin()
index_min = find_low_index(hist_data['002386'])

index_min

'2015-09-15'

In [54]:
df_bar_ten

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2015-09-08,24.42,26.38,26.20,24.24,33769.69,1.68,6.85,24.848,25.897,31.797,35226.58,38948.02,47078.39,6.62
2015-09-09,26.20,27.49,27.38,25.71,52848.05,1.20,4.58,25.108,25.805,31.100,38376.15,41760.54,45566.44,10.36
2015-09-10,26.82,26.99,25.91,25.83,35280.60,-1.42,-5.20,25.602,25.849,30.357,36937.74,41776.54,43276.70,6.92
2015-09-11,25.81,26.49,26.01,25.53,20349.59,0.10,0.39,26.004,25.860,29.718,33952.77,38042.13,41264.88,3.99
2015-09-14,26.31,26.50,23.43,23.43,33494.80,-2.60,-9.99,25.786,25.537,28.901,35148.55,37289.44,40903.45,6.57
2015-09-15,22.51,25.77,25.77,22.33,65304.94,2.34,9.99,25.700,25.274,28.169,41455.60,38341.09,40892.22,12.80
2015-09-16,26.85,28.35,28.35,26.00,120758.79,2.58,10.01,25.894,25.501,27.626,55037.74,46706.95,44689.50,23.68
2015-09-17,28.00,31.19,31.19,27.52,129598.38,2.84,10.02,26.950,26.276,27.421,73901.30,55419.52,48555.42,25.41
2015-09-18,31.65,34.31,34.31,30.00,127270.36,3.12,10.00,28.610,27.307,27.345,95285.45,64619.11,52383.44,24.95
2015-09-21,34.90,37.74,37.74,33.58,77980.40,3.43,10.00,31.472,28.629,27.527,104182.57,69665.56,54690.20,15.29

In [37]:
min(df_bar_ten.low)

22.329999999999998

In [38]:
df_bar_ten['low'].idxmin()

'2015-09-15'

In [29]:
#codeofall = pd.read_excel('C:\\users\\xiewy\\allsharecode.xlsx',sheetname='Sheet1')
#codeofall[['code']]