In [144]:
%matplotlib inline
import matplotlib.pyplot as plt
from numpy.random import randn
import pandas as pd
import os
from datetime import timedelta, date, datetime
from string import Template
#from pandas import ExcelWriter
#from pandas import ExcelFile
os.getcwd()

'F:\\2015年\\客户工程\\光改\\bigdatecoming_光改周报\\监理上报\\output'

In [145]:
#更换目录
os.chdir('F:\\2015年\\客户工程\\光改\\bigdatecoming_光改周报\\监理上报\\output')
cwd = os.getcwd()
cwd

'F:\\2015年\\客户工程\\光改\\bigdatecoming_光改周报\\监理上报\\output'

In [146]:
#读取光改项目监理汇总明细表
df = pd.read_excel('监理汇总915.xlsx',sheetname='项目进度明细表（每日更新）')
#df.head()

In [147]:
#计划在昨天前完工的项目个数
df1 = df[df['计划完工时间'] <= datetime(2015,9,15)].groupby('分公司').count()[['计划完工时间']]
df1

     计划完工时间
分公司
东莞       18
中山       13
佛山       20
广州       42
惠州        6
揭阳        1
汕尾        1
江门        2
深圳       17
清远        3
珠海        8
肇庆        5
茂名        3

In [148]:
#已完工项目个数
df2 = df.groupby('分公司').count()[['实际完工时间']]
df2

     实际完工时间
分公司
东莞       20
中山       14
佛山       22
广州       31
惠州        8
揭阳        1
汕尾        1
江门        2
深圳       14
清远        2
湛江        1
潮州        3
珠海        8
肇庆        4
茂名        1
阳江        1

In [149]:
#合并计划完工数与实际完工数
dfmerge = pd.merge(df1,df2,how='left',left_index=True, right_index=True)
dfmerge

     计划完工时间  实际完工时间
分公司
东莞       18      20
中山       13      14
佛山       20      22
广州       42      31
惠州        6       8
揭阳        1       1
汕尾        1       1
江门        2       2
深圳       17      14
清远        3       2
珠海        8       8
肇庆        5       4
茂名        3       1

In [150]:
#选出实际完工数小于计划完工数的地市
dfmergefault = dfmerge[dfmerge['实际完工时间'] < dfmerge['计划完工时间']]

In [170]:
#添加一列落后计划个数 
dfmergename = ['计划完工时间','实际完工时间','落后计划数']
dfmergefault = dfmergefault.reindex(columns=dfmergename)
dfmergefault['落后计划数'] = (dfmergefault['计划完工时间'] - dfmergefault['实际完工时间'])
sumdata = dfmergefault.sum() #对每列求和
row_sum = pd.DataFrame(data = sumdata) #把系统转换为dataframe.
row_sum.T # 测试列转行
dfmergefault

     计划完工时间  实际完工时间  落后计划数
分公司
广州       42      31     11
深圳       17      14      3
清远        3       2      1
肇庆        5       4      1
茂名        3       1      2

In [152]:
# 列转行后存入原行变量
row_sum = row_sum.T
row_sum

   计划完工时间  实际完工时间  落后计划数
0      70      52     18

In [153]:
#把求和列添加到最后一列。
branchdata = pd.concat([dfmergefault,row_sum])
branchdata

     计划完工时间  实际完工时间  落后计划数
分公司
广州       42      31     11
深圳       17      14      3
清远        3       2      1
肇庆        5       4      1
茂名        3       1      2
0        70      52     18

In [154]:
#更改index。
branchdata = branchdata.rename(index ={0:'合计'})
branchdata

     计划完工时间  实际完工时间  落后计划数
分公司
广州       42      31     11
深圳       17      14      3
清远        3       2      1
肇庆        5       4      1
茂名        3       1      2
合计       70      52     18

In [155]:
#按需要把地市对应落后计划数放进字典。
luohouNumber = branchdata.ix['合计','落后计划数']
branchDict = {}
for index in branchdata.index:
    if index != '合计':
        branchDict[index] = branchdata.ix[index,'落后计划数']
branchDict

{'广州': 11, '深圳': 3, '清远': 1, '肇庆': 1, '茂名': 2}

In [156]:
#实际完工数小于计划完工数的地市
cityfault = dfmerge[dfmerge['实际完工时间'] < dfmerge['计划完工时间']].index
city = []
for item in cityfault:
    city.append(item)
    
city

['广州', '深圳', '清远', '肇庆', '茂名']

In [157]:
#计划在昨天完工的项目个数-按监理
df3 = df[df['计划完工时间'] <= datetime(2015,9,15)].groupby('监理单位').count()[['计划完工时间']]
df3

                 计划完工时间
监理单位
中通服项目管理咨询有限公司         3
公诚管理咨询有限公司           34
华夏邮电咨询监理有限公司         24
广州市汇源通信建设监理有限公司      30
深圳市都信建设监理有限公司        16
达安监理                 32

In [158]:
df4 = df.groupby('监理单位').count()[['实际完工时间']]
df4

                 实际完工时间
监理单位
中通服项目管理咨询有限公司         2
公诚管理咨询有限公司           42
华夏邮电咨询监理有限公司         22
广州市汇源通信建设监理有限公司      19
深圳市都信建设监理有限公司        13
达安监理                 35

In [159]:
dfmergejl = pd.merge(df3,df4,how='left',left_index=True, right_index=True)
dfmergejl

                 计划完工时间  实际完工时间
监理单位
中通服项目管理咨询有限公司         3       2
公诚管理咨询有限公司           34      42
华夏邮电咨询监理有限公司         24      22
广州市汇源通信建设监理有限公司      30      19
深圳市都信建设监理有限公司        16      13
达安监理                 32      35

In [160]:
dfmergefaultjl = dfmergejl[dfmergejl['实际完工时间'] < dfmergejl['计划完工时间']]

In [161]:
dfmergenamejl = ['计划完工时间','实际完工时间','落后计划数']
dfmergefaultjl = dfmergefaultjl.reindex(columns=dfmergenamejl)
dfmergefaultjl['落后计划数'] = (dfmergefaultjl['计划完工时间'] - dfmergefaultjl['实际完工时间'])
sumdatajl = dfmergefaultjl.sum()
row_sumjl = pd.DataFrame(data = sumdatajl)
row_sumjl.T
dfmergefaultjl

                 计划完工时间  实际完工时间  落后计划数
监理单位
中通服项目管理咨询有限公司         3       2      1
华夏邮电咨询监理有限公司         24      22      2
广州市汇源通信建设监理有限公司      30      19     11
深圳市都信建设监理有限公司        16      13      3

In [162]:
row_sumjl = row_sumjl.T
row_sumjl

   计划完工时间  实际完工时间  落后计划数
0      73      56     17

In [163]:
jldata = pd.concat([dfmergefaultjl,row_sumjl])
jldata

                 计划完工时间  实际完工时间  落后计划数
监理单位
中通服项目管理咨询有限公司         3       2      1
华夏邮电咨询监理有限公司         24      22      2
广州市汇源通信建设监理有限公司      30      19     11
深圳市都信建设监理有限公司        16      13      3
0                    73      56     17

In [164]:
jldata = jldata.rename(index = {0:'合计'})
jldata

                 计划完工时间  实际完工时间  落后计划数
监理单位
中通服项目管理咨询有限公司         3       2      1
华夏邮电咨询监理有限公司         24      22      2
广州市汇源通信建设监理有限公司      30      19     11
深圳市都信建设监理有限公司        16      13      3
合计                   73      56     17

In [165]:
jlDict = {}
for index in jldata.index:
    if index != '合计':
        jlDict[index] = jldata.ix[index,'落后计划数']
jlDict

{'中通服项目管理咨询有限公司': 1,
 '华夏邮电咨询监理有限公司': 2,
 '广州市汇源通信建设监理有限公司': 11,
 '深圳市都信建设监理有限公司': 3}

In [166]:
df[df['计划完工时间'] == datetime(2015,9,16)][['计划完工时间','实际完工时间']]

        计划完工时间     实际完工时间
262 2015-09-16 2015-09-11

In [167]:
date.today()

datetime.date(2015, 9, 16)

In [168]:
#新建一个列表，添加一个字典进列表，字典数据为需要打印数据。
dailydata = []
dailydata.append(dict(dateoftoday = date.today(),luohounumber=luohouNumber,branchdict=branchDict,jldict=jlDict))

In [169]:
#新建一个打印模板,然后打印
t_morningreport = Template("各地市分公司好：\n\n\t截止$dateoftoday，落后于计划的项目有$luohounumber个，其中$branchdict，分公司务必加快工程进度\
!以监理单位维度统计为：$jldict。\n\n\t\t\t\t\t广东“沃光改”推进办公室")
print(t_morningreport.substitute(dailydata[0]))

各地市分公司好：

	截止2015-09-16，落后于计划的项目有18个，其中{'深圳': 3, '茂名': 2, '清远': 1, '广州': 11, '肇庆': 1}，分公司务必加快工程进度!以监理单位维度统计为：{'华夏邮电咨询监理有限公司': 2, '广州市汇源通信建设监理有限公司': 11, '深圳市都信建设监理有限公司': 3, '中通服项目管理咨询有限公司': 1}。

					广东“沃光改”推进办公室