In [24]:
import tushare as ts
import pandas as pd

In [22]:
share_data_all = ts.get_today_all() # 
share_data_all.head()

[Getting data:]#####################################

,code,name,changepercent,trade,open,high,low,settlement,volume,turnoverratio
0,600743,华远地产,10.103,5.34,4.81,5.34,4.75,4.85,23704696,1.30413
1,600368,五洲交通,10.099,5.56,4.96,5.56,4.90,5.05,32633143,3.91378
2,600127,金健米业,10.090,6.11,5.45,6.11,5.40,5.55,31127823,5.71720
3,002288,超华科技,10.081,6.77,6.02,6.77,6.00,6.15,27972474,4.52990
4,002487,大金重工,10.078,7.10,6.43,7.10,6.37,6.45,17735846,3.28442

In [26]:
# all share data of today,columns name : code name changepercent trade open high low 
share_data_all
code_all = share_data_all[['code','name']] 
code_all.head()
code_all.to_excel('G:\\test\\allsharecode.xlsx',sheet_name='Sheet1')
##for item in code_all:
    
##    if i < 20 :
##        print(i+1,":",item)
##    i = i + 1

In [28]:
def getCode():
    return ts.get_today_all()[['code','name']]

In [29]:
codeNumberAll = getCode()

[Getting data:]#####################################

In [27]:
codeNumberAll.head()

0    600743
1    600368
2    600127
3    002288
4    002487
Name: code, dtype: object